// bower:scss
// endbower

// Custom imports & styles here.
@import '../bower_components/foundation/scss/foundation';
@import 'settings';
@import 'streetview-ui';

.clickable {
	cursor: pointer;
}

.right-pos {
	position: absolute;
	right: 0;
}

.js-container-image {
	display: inline-block;
	position: relative;
}
