.button {
	&.disabled,
	&[disabled] {
		&.alert,
		&.success {
			@include button-style(
				$bg: #ccc,
				$disabled: true,
				$bg-hover: #ccc,
				$border-color: $button-border-color
			);
		}
	}
}
