.button {
	&.disabled,
	&[disabled] {
		&.alert,
		&.primary,
		&.secondary,
		&.success {
			@include button-style(
				$bg: lighten(get-color(black), 25),
				$disabled: true,
				$bg-hover: lighten(get-color(black), 25),
				$border-color: $button-border-color
			);
		}
	}
}
