$fa-font-size-base: 32px;

$icon-list: (
	cancel: $fa-var-ban,
	car: $fa-var-car,
	close: $fa-var-close,
	expand: $fa-var-expand,
	geolocate: $fa-var-rebel,
	help: $fa-var-question-circle,
	options: $fa-var-gears,
	photo: $fa-var-photo,
	random: $fa-var-random,
	streetview: $fa-var-street-view,
	trash: $fa-var-trash,
	zoom: $fa-var-search-plus
);

.icon {
	@include fa-icon;

	font-size: 2em;
	vertical-align: middle;

	&.icon-close {
		font-size: 1em;
	}

	@each $icon-name, $icon in $icon-list {
		&.icon-#{$icon-name}::before {
			content: $icon;
		}
	}
}
