.container-streetview-image {
	display: inline-block;
	position: relative;

	.streetview-image {
		overflow: hidden;
		position: relative;

		.image-menu {
			background-color: $primary-color;
			list-style-type: none;
			opacity: .7;
			position: absolute;
			right: -3rem;
			transition: right .25s;
			width: 15%;

			&::before {
				@include fa-icon;
				background-color: black;
				content: $fa-var-wrench;
				cursor: pointer;
				font-size: 1rem;
				left: -1.35rem;
				padding: .25rem;
				position: absolute;
			}

			&.open {
				right: 0;

				&::before {
					content: $fa-var-close;
				}
			}

			.icon {
				color: $body-font-color;
				font-size: 2.5rem;

				&:hover {
					color: $info-color;
				}
			}
		}

		.ui-slider {
			position: absolute;
			transition-duration: .5s;
			transition-property: bottom left;
			z-index: 2;

			&.ui-slider-horizontal {
				bottom: -2.5rem;
				right: 0;
				width: 90%;
			}

			&.ui-slider-vertical {
				height: 90%;
				left: -2rem;
				top: 0;
			}
		}

		&:hover {
			.ui-slider-horizontal {
				bottom: 2px;
			}

			.ui-slider-vertical {
				left: 2px;
			}
		}
	}
}
