$image-menu-item-size: 2.5rem;

.container-streetview-image {
	display: inline-block;
	position: relative;

	.streetview-image {
		overflow: hidden;
		position: relative;

		.image-menu {
			background-color: $body-font-color;
			list-style-type: none;
			opacity: .4;
			position: absolute;
			right: -$image-menu-item-size;
			text-align: center;
			transition: right .25s;
			width: $image-menu-item-size;

			&::before {
				@include fa-icon;
				background-color: black;
				content: $fa-var-wrench;
				cursor: pointer;
				font-size: 1rem;
				left: -1.35rem;
				padding: .25rem;
				position: absolute;
			}

			&.open {
				right: 0;

				&::before {
					content: $fa-var-close;
				}
			}

			.menu-item {
				a {
					display: block;
				}

				.icon {
					color: $body-bg;
					font-size: $image-menu-item-size;

					&:hover {
						color: $info-color;
					}
				}
			}
		}

		.ui-slider {
			position: absolute;
			transition-duration: .5s;
			transition-property: bottom left;
			z-index: 2;

			&.ui-slider-horizontal {
				bottom: -2.5rem;
				right: 0;
				width: 90%;
			}

			&.ui-slider-vertical {
				height: 90%;
				left: -2rem;
				top: 0;
			}
		}

		&:hover {
			.ui-slider-horizontal {
				bottom: 2px;
			}

			.ui-slider-vertical {
				left: 2px;
			}
		}

		img {
			opacity: 1;
			transition-duration: 1s;
			transition-property: opacity;
			transition-timing-function: linear;
		}

		&.replace-image {
			.image-menu {
				display: none;
			}

			.ui-slider-horizontal {
				bottom: -5rem;
			}

			.ui-slider-vertical {
				left: -4rem;
			}

			img {
				opacity: 0;

				&:first-of-type {
					position: absolute;
				}
			}
		}
	}
}
