.slider-title {
	@include grid-column(
		// $center: true,
		$columns: 3,
		$last-column: false
	);

	margin-top: .75rem;
}

.container-slider {
	@include grid-column(
		// $center: true,
		// $collapse: true,
		$columns: 8
	);

	padding-bottom: 1rem;
	padding-top: 1rem;

	.slider-value {
		cursor: default;
		font-size: 1.5rem;
		position: absolute;
		user-select: none;
		z-index: 5;
	}
}
