.ui-progressbar {
	position: relative;

	.ui-progressbar-value {
		margin: 0;
	}

	.progress-label {
		display: block;
		line-height: 1.6;
		position: absolute;
		text-align: center;
		top: rem-calc(5);
		width: 100%;
	}
}
